nav{
    width: 18vw;
    height: 100vh;
    background-color: #C48E0E;
}
@font-face{
    src: url('../../assets/fonts/Quicksand-VariableFont_wght.ttf');
    font-family: Quick;
}
a{
    text-decoration: none;
    color: #291D03;
    font-size: 24px;
    font-family: Quick;
    display: block;
}
ul.links li{
    box-shadow: 3px 2px #BF7404;
    padding: 5px 4px 3px 10px;
    margin: 25px 50px 0px 25px; 
    transition: 0.5s;
}
ul.links li:hover{
    box-shadow: 4px 3px #995D03;
    padding-left: 12px;
    transition: 0.5s;
}
.links{
    list-style: none;
}
.beerIcon{
    height: 96px;
    width: 96px;
    position: relative;
    top: 5vh;
    left: 2vw;
    margin-bottom: 5vh;;
}
